@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");
/* Resets */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img:after {
  content: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "KoHo", sans-serif;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
  background: transparent;

  transition: all 0.3s ease;
}

button:hover,
select:hover {
  cursor: pointer;
  opacity: 0.8;
}

.App {
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  background: linear-gradient(45deg, #ff8e53 30%, #fe6b8b 90%);

  overflow-y: scroll;

  position: relative;
}

.landing-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-main {
  height: 100vh;
  border-radius: 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.main-content-wrapper {
  min-height: fit-content;
}

.what {
  position: absolute;
}

.separator-div {
  height: 10%;
  width: fit-content;
  display: flex;
  justify-content: space-around;
}

.projects-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.proj-header {
  padding-top: 5%;
  width: fit-content;
  height: fit-content;
  margin: 0 auto 0;
  padding-bottom: 3%;
}

.project-item {
  display: flex;
  justify-content: flex-start;
  color: white;
  counter-increment: my-sec-counter;
  margin: auto 3%;
}

.project-content {
  position: absolute;
  left: 30%;

  top: 10%;
  border: solid white 1px;
  height: 100%;
  width: 60%;
}

.project-item h1 {
  font-size: 3vmax;
}

.projects-header {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3vmax;
}

.proj-header {
  margin-bottom: 5%;
}

.projects-container {
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  display: flex;

  padding: 0 15px;
}

.proj-logo {
  height: 20%;
}

.proj-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  height: 60%;
  width: 25%;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 18%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  transition: transform 0.3s ease;
}

.proj-card:hover {
  transform: scale(1.1);
}

.proj-card img,
.proj-card svg {
  object-fit: contain;

  margin: 0 auto;
}

.landing-div h1,
.proj-header h1 {
  color: white;
  font-size: 3vmax;
}

.contact-content {
  height: fit-content;
  width: 25%;
  display: flex;

  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-55%);
}

.contact-details h1 {
  color: white;
  font-size: 2vmax;
}

.fig {
  font-size: 10pt;
  font-family: Monospace;
  white-space: pre;
}

a {
  color: white;
}

.left {
  align-self: flex-end;
  margin-right: 15px;
}

.separator-div span {
  border-left: solid white 4px;
  border-radius: 8px;
  height: 80%;
  display: flex;
}

.side-nav {
  position: fixed;
  left: 0;
  right: 30px;
  top: 0%;
  justify-content: space-around;
  align-items: center;
  height: 5%;
  width: 20%;
  background-color: white;
  border: solid white 1px;
  display: flex;
  z-index: 3;
  box-shadow: 0px 2px 4px -2px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.drag-constraint {
  position: fixed;
  left: 30%;
  top: 0%;
}

.draggable {
  transform: rotateZ(90deg);
  margin: 0 auto;
  width: 40px;
}

.side-nav svg {
  transition: color 0.4s ease-in-out;
  transition: transform 0.3s ease;
}

.side-nav svg.active {
  color: #ff8561 !important;
  transform: scale(1.3);
  transition: transform 0.3s ease;
  border-bottom: solid #ff8561 1px;
}

.active {
  justify-self: flex-start;
}

.side-icon {
  font-size: 30;
  color: "#FF737F";
}
.side-icon:hover {
  transform: scale(1.3);
}

::-webkit-scrollbar {
  background: linear-gradient(45deg, #ff8e53 30%, #fe6b8b 90%);
}

::-webkit-scrollbar {
  width: 0px;
}

.scrollDot {
  position: fixed;
  right: 40px;
  height: 15px;
  width: 15px;
  border: solid white 3px;
  border-radius: 30px;
}

.show {
  transform: scale(1.2);
}

.landingDot {
  top: 87%;
  transition: linear 0.5s;
}

.show.landingDot {
  background-color: white;
}

.aboutDot {
  top: 90%;
  transition: linear 0.5s;
}

.show.aboutDot {
  background-color: white;
}

.projectsDot {
  top: 93%;
  transition: linear 0.5s;
}

.show.projectsDot {
  background-color: white;
}

.contactDot {
  top: 96%;
  transition: linear 0.5s;
}

.show.contactDot {
  background-color: white;
}

/* width
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #fe6b8b;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px;
}  */

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
