

/* Resets */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

img:after {
  content: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "KoHo", sans-serif;
  color: white;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
  background: transparent;

  transition: all 0.3s ease;
}

button:hover,
select:hover {
  cursor: pointer;
  opacity: 0.8;
}

.App {
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  background: linear-gradient(45deg, #ff8e53 30%, #fe6b8b 90%);
  scrollbar-width: none;
  overflow-y: scroll;

  position: relative;
}

.landing-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-main {
  height: 100vh;
  width: 100vw;
  border-radius: 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
}

.about-intro{
  padding-bottom: 5%;
}

.main-content-wrapper {
  min-height: fit-content;
}

.what {
  position: absolute;
}

.separator-div {
  height: 10%;
  width: fit-content;
  display: flex;
  justify-content: space-around;
}

.projects-main {
  width: 100vw;
  height: 100vh;
  position: relative;
  min-height: fit-content;
  overflow: hidden;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.pinfo-div{
  border: solid white 1px;
  height: 100%;
}

.proj-header {
  
  width: fit-content;
  height: fit-content;
  margin: 0 auto 0;
  
}



.projects-container {
  width: 70%;
  
  height: fit-content;
  min-height: 100vh;
  margin: 0 auto;
  
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.proj-info{
  position:absolute;
  transform: translateY(-30%);
  top: 45%;
  right: 7%;
  height: 60%;
  width: 50%;
  
 word-wrap: break-word;
 display: flex;
 flex-direction: column;
}

.proj-info-text{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1% 5% 20% 5%;
  font-size: 1vmax;
  color:white;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.proj-tech{
  padding-top: 7%;
  padding-bottom: 10%;
}

.proj-info img{
  max-height: 100%;
}

.proj-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  width:20%;
  height: 10%;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 18%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  transition: transform 0.3s ease;
}

.proj-card:hover {
  transform: scale(1.1);
}

.proj-card img,
.proj-card svg {
  height: auto;
  width:60%;
  margin: 0 auto;
}

.landing-div h1,
.proj-header h1 {
  color: white;
  font-size: 3vmax;
}

.contact-content {
  height: 25%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 2%;
  z-index: 3;
}

.contact-icon {
  transition: transform 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.contact-content::after {
  content: "";
  display: block;
  width: 2px;
  height: 75px;
  margin: 0px auto;
  background-color: white;
}

.contact-details h1 {
  color: white;
  font-size: 2vmax;
}

.fig {
  font-size: 10pt;
  font-family: Monospace;
  white-space: pre;
}

a {
  color: white;
}

.left {
  align-self: flex-end;
  margin-right: 15px;
}

.separator-div span {
  border-left: solid white 4px;
  border-radius: 8px;
  height: 80%;
  display: flex;
}

.side-nav {
  position: fixed;
  left: 0;
  right: 30px;
  top: 0%;
  justify-content: space-around;
  align-items: center;
  height: 5%;
  width: 20%;
  background-color: white;
  border: solid white 1px;
  display: flex;
  z-index: 3;
  box-shadow: 0px 2px 4px -2px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.drag-constraint {
  position: fixed;
  left: 30%;
  top: 0%;
}



.side-nav svg {
  transition: color 0.4s ease-in-out;
  transition: transform 0.3s ease;
}

.side-nav svg.active {
  color: #ff8561 !important;
  transform: scale(1.3);
  transition: transform 0.3s ease;
  border-bottom: solid #ff8561 1px;
}

.active {
  justify-self: flex-start;
}

.side-icon {
  font-size: 30;
  color: "#FF737F";
}
.side-icon:hover {
  transform: scale(1.3);
}

html {
  scrollbar-width: none;
  }

::-webkit-scrollbar {
  background: linear-gradient(45deg, #ff8e53 30%, #fe6b8b 90%);
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.scrollDot {
  position: fixed;
  right: 40px;
  height: 15px;
  width: 15px;
  border: solid white 3px;
  border-radius: 30px;
}

.show {
  transform: scale(1.2);
}

.landingDot {
  top: 87%;
  transition: linear 0.5s;
}

.show.landingDot {
  background-color: white;
}

.aboutDot {
  top: 90%;
  transition: linear 0.5s;
}

.show.aboutDot {
  background-color: white;
}

.projectsDot {
  top: 93%;
  transition: linear 0.5s;
}

.show.projectsDot {
  background-color: white;
}

.contactDot {
  top: 96%;
  transition: linear 0.5s;
}

.show.contactDot {
  background-color: white;
}

@media screen and (max-width:500px) {
  .side-nav{
    width: 100%;
  }

  .about-main{
    opacity: 1 !important;
    font-size: 2vw;
  }

  .proj-card{
    height:10%;
    width: 30%;
  }

  .proj-card img, .proj-card svg{
    width: 100%;
  }

  .proj-info{
    align-items: center;
    justify-content: center;
  }

  .proj-info-text{
    align-items: center;
    justify-content: center;
  }
}

/* width
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #fe6b8b;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px;
}  */

/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
